/* 
    Document   : Avenue Stylesheet
    Created on : May 14, 2014, 8:23:39 PM
    Author     : Bilal
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

.row{
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.primary-color{ color: #ff6600;}
.center{ text-align: center;}
.text-right{ text-align: right;}
.text-left{ text-align: left;}
.scale125{
    transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
}
.scale11{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.transition{
    transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
}
/*-- Toolbar --*/
#site-toolbar{
    background: #222222;
    color: #d0d0d0;
    overflow: hidden;
    /*height: 40px;*/
}
#site-toolbar .contact-bar a{
    height: 30px;
    margin: 7px 5px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
#site-toolbar .contact-bar a .fa{
    margin-right: 5px;
}
#site-toolbar .contact-bar a span{
    color: #e0e0e0;
}
#site-toolbar .social-bar a{
    width: 30px;
    height: 30px;
    margin: 7px 5px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
    border-radius: 100%;
}
#site-toolbar .row .social-bar{
    text-align: right;
}
.site-branding{
    border-top: 8px solid #f5f5f5;
    border-bottom: 5px solid #f5f5f5;
}
.site-branding .search-bar{
    text-align: right;
}
.site-branding .search-bar .search-form{
    margin-top: 20px;
    line-height: 20px;

}
.site-branding .search-bar .search-field{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    outline-color: #fff;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    
}
.site-branding .search-bar .search-field:focus{
    padding-right: 20px;
    
}
.site-branding .col-sm-6{
    min-height: 70px;
    line-height: 70px;
}

.main-navigation{
    border-bottom: 8px solid #f5f5f5;
}
#site-navigation.main-navigation > .row{
    overflow: visible;
}

/*-- Header --*/
.site-header{
    width: 100%;
}
.site-title{
    display: inline-block;
    line-height: 0;
}
.site-description{
    display: inline-block;
}

/*-- Slider --*/
#main-slider{
    overflow: hidden
}
#main-slider .col-md-12{
    padding: 0;
}

/*-- Menu --*/
#site-navigation{
    /*background: #222222;*/
}
.nav-menu > li a{
    margin-right: 15px;
    padding: 8px 10px;
    background: #fff;
    color: #222222;
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
} 
.nav-menu > li a:hover{
    color: #ff6600;
}

/*-- CTA boxes --*/
#site-cta{
    margin-top: 80px;
    overflow: visible;
}
.site-cta{
    border-left: 1px solid #444;
    
}
.site-cta .fa{
    font-size: 28px;
    border: 1px solid #444;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    position: absolute;
    left: -40px;
    top: 0;
    background: #fff;
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}
.site-cta .col-md-10 > div{
    position: relative;
    padding-bottom: 20px;
}

.site-cta h3{
    font-size: 20px;
    transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    position: relative;
    font-weight: 600;
    
}
.site-cta .col-md-10{
    position: relative;
    
}
.site-cta .btn{
    display: none;
}
/*-- Top Banner --*/
#top-banner{
    
    padding: 15px 0;
    background: #222222;
    min-height: 100px;
    color: #ffffff;
    
}
#top-banner .top-banner-text{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
    font-weight: 200;
}

/*-- Site Footer --*/
.site-footer{
    background: #222;
    border-top: 1px solid #2e2e2e;
    color: #e0e0e0;
}
.site-footer .col-md-6{
    padding: 20px 10px 20px 0;
}
.scroll-top{
    font-size: 26px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}
.scroll-top:hover{
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

/*-- page --*/
.page-title{
    background: #222222;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 32px;
    color: #e0e0e0;
    padding: 30px 0;
}
.page .entry-content{
    
}
/*-- Blog --*/
.item-post{
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}
.item-post .post-title{
    font-size: 32px;
}
.item-post .post-thumb{

    
}
.item-post .post-thumb img{
    width: 100%;
}
@media(min-width: 1060px){
    .row{
        width: 1060px;
    }
    
}