/* 
    Document   : Avenue Stylesheet
    Created on : May 14, 2014, 8:23:39 PM
    Author     : Bilal
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

.row{
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.primary-color{ color: #ff6600;}
.center{ text-align: center;}
.text-right{ text-align: right;}
.text-left{ text-align: left;}
.left{ float: left;}
.right{ float: right;}
.scale125{
    transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
}
.scale11{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.transition{
    transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
}

/*-- Toolbar --*/
#site-toolbar{
    background: #222222;
    color: #d0d0d0;
    overflow: hidden;
    position: fixed;
    left: 0;
    /*top: 0;*/
    width: 100%;
    z-index: 999;   
    /*height: 40px;*/
}
#site-toolbar .contact-bar a{
    height: 30px;
    margin: 7px 5px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}
#site-toolbar .contact-bar a:hover{
    
}
#site-toolbar .contact-bar a .fa{
    margin-right: 5px;
}
#site-toolbar .contact-bar a span{
    color: #e0e0e0;
}
#site-toolbar .social-bar a{
    width: 30px;
    height: 30px;
    margin: 7px 5px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
    border-radius: 100%;
    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
   
}
#site-toolbar .row .social-bar{
    text-align: right;
}
.site-branding{
    border-top: 8px solid #f5f5f5;
    border-bottom: 5px solid #f5f5f5;
    margin-top: 40px;
}
.site-branding .search-bar{
    text-align: right;
}
.site-branding .search-bar .search-form{
    margin-top: 20px;
    line-height: 20px;

}
.site-branding .search-bar .search-field{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    outline-color: #fff;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}

.site-branding .search-bar .search-field:focus{
    padding-right: 20px;
    border-bottom: 1px solid #ff6600;
    color: #222;
}
.site-branding .col-sm-6{
    min-height: 70px;
    line-height: 70px;
}

.main-navigation{
    border-bottom: 8px solid #f5f5f5;
}
#site-navigation.main-navigation > .row{
    overflow: visible;
}
/*-- Social --*/
#site-toolbar .row .social-bar a.icon-twitter:hover{
    color: #00abdc;
    border-color: #00abdc;
    box-shadow: 0 0 2px #00abdc;
    -moz-box-shadow: 0 0 2px #00abdc;
    -webkit-box-shadow: 0 0 2px #00abdc;
}
#site-toolbar .row .social-bar a.icon-facebook:hover{
    color: #3b5998;
    border-color: #3b5998;
    box-shadow: 0 0 2px #3b5998;
    -moz-box-shadow: 0 0 2px #3b5998;
    -webkit-box-shadow: 0 0 2px #3b5998;
}
#site-toolbar .row .social-bar a.icon-linkedin:hover{
    color: #007bb6;
    border-color: #007bb6;
    box-shadow: 0 0 2px #007bb6;
    -moz-box-shadow: 0 0 2px #007bb6;
    -webkit-box-shadow: 0 0 2px #007bb6;
}
#site-toolbar .row .social-bar a.icon-gplus:hover{
    color: #dd4b39;
    border-color: #dd4b39;
    box-shadow: 0 0 2px #dd4b39;
    -moz-box-shadow: 0 0 2px #dd4b39;
    -webkit-box-shadow: 0 0 2px #dd4b39;
}


/*-- Header --*/
.site-header{
    width: 100%;
}
.site-title{
    margin: 0;
    
}
.site-description{
    
}

/*-- Slider --*/
/*--------------------- Survey -------------------*/

/*------------------Survey from common.css-----------------*/
#main-slider .col-md-12{
    padding: 0;
}
.the-slider{
    margin-bottom: 20px;
}
.the-slider,
.slider-slide{
	width: 100%;
	min-height: 350px;
	position: relative;
}
.the-slider #slide1,.the-slider #slide2,.the-slider #slide3,.the-slider #slide4,.the-slider #slide5,.the-slider #slide6{
	display: none;
	background: #f0f0f0;
}
.progress ul{
	margin: 0;
	padding: 0;
}
.progress ul li{
	display: inline;
	margin-right: 10px;
}
.the-slider .navigation i{
	font-size: 50px;
	color:#ffffff;
}
.the-slider .navigation .fa-chevron-left{
	position: absolute;
	top: 170px;
	left: 30px;
	display: none;	
}
.the-slider .navigation .fa-chevron-right{
	position: absolute;
	top: 170px;
	right: 30px;
	display: none;
}
.err-message{
	color: red;
}

/* @NR */

.slider-answers{
	list-style: none;

}

/* @KL */

.progress .left-progress,
.progress .right-progress {
	display: block;
	position:relative;
	bottom:25px;
	color: #444;
	font-size: 10px;
	text-shadow:0px 0px 5px #fff;
}

.progress .left-progress {
	float: left;
	margin-left:10px;
}

.progress .right-progress {
	float:right;
	margin-right:10px;
}

.the-slider h1 {
	text-align:center;
	text-shadow:0px -1px 1px #000, 0px 1px 0px #fafafa;
        position: absolute;
        bottom: 0;
        line-height: 0;
        left: 0;
        width: 100%;
}
.the-slider h1 span{
    display: inline-block;
    background: rgba(250,250,250,0.6);
    padding: 25px;
}
.the-slider #slide1,
.the-slider #slide2,
.the-slider #slide3{
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover !important;
}
/*.the-slider #slide1 {
	background: #ddd url(http://preview.ait-themes.com/impression/wp1/wp-content/uploads/slide_spring1.jpg) 100% 100% no-repeat;
}

.the-slider #slide2 {
	background: #ddd url(http://preview.ait-themes.com/impression/wp1/wp-content/uploads/slide_winter1.jpg) 100% 100% no-repeat;
}

.the-slider #slide3 {
	background: #ddd url(http://preview.ait-themes.com/impression/wp1/wp-content/uploads/slide_summer1.jpg) 100% 100% no-repeat;
}

.the-slider #slide4 {
	background: #ddd url(http://preview.ait-themes.com/impression/wp1/wp-content/uploads/slide_spring1.jpg) 100% 100% no-repeat;
}

.the-slider #slide5 {
	background: #ddd url(http://preview.ait-themes.com/impression/wp1/wp-content/uploads/slide_summer1.jpg) 100% 100% no-repeat;
}

.the-slider #slide6 {
	background: #ddd url(http://preview.ait-themes.com/impression/wp1/wp-content/uploads/slide_winter1.jpg) 100% 100% no-repeat;
}*/


.the-slider #slide1 p {
	padding:0 100px;
}

.the-slider #slide1 p.action {
	text-align:center;
}

.the-slider #slide1 p.action a {
	padding:5px 15px;
	font-size:20px;
}

.the-slider h2.result-main-title,
.the-slider h3.custom-name {
	margin:0px -40px 25px -40px !important;
	font-size:28px;
	line-height:32px;
	font-family: Futura, 'mission_gothicregular', "OpenSans", sans-serif;
	text-align:center;
	text-shadow:0px -1px 1px #000, 0px 1px 0px #fafafa;
}

.the-slider .result-title {
	font-family: Futura, 'mission_gothicregular', "OpenSans", sans-serif;
	text-shadow:0px -1px 1px #000, 0px 1px 0px #fafafa;
}

.the-slider #slide6 table {
	margin:auto;
}
.the-slider #slide6 p {
	text-align:center;
}

.the-slider .slide-results p{
	padding:0 25px;
}
.the-slider .slide-results ul{
	padding:0 25px 0 55px;
}

.the-slider #slide6 .button-primary.submit-slider {
	margin-top:15px;
	padding:5px 15px;
	font-size:20px;
}


/*-- Menu --*/
#site-navigation{
    /*background: #222222;*/
}
.nav-menu > li a{
    margin-right: 15px;
    padding: 8px 10px;
    background: #fff;
    color: #222222;
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
} 
.nav-menu > li a:hover{
    color: #ff6600;
}
.main-navigation ul ul{
    top: initial;
    background: #fff;
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}
.menu-toggle{
    margin: 0 auto;
}
/*-- CTA boxes --*/
#site-cta{
    margin-top: 80px;
    overflow: visible;
    
}
#site-cta .site-cta{
    
}
.site-cta{
    border-left: 1px solid #444;
    
}
#site-cta .col-md-12{
    margin-top: 55px;
    
}
.site-cta .fa{
    font-size: 28px;
    border: 1px solid #444;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    position: absolute;
    left: -40px;
    top: 0;
    background: #fff;
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}
.site-cta .col-md-10 > div{
    position: relative;
    padding-bottom: 20px;
}

.site-cta h3{
    font-size: 20px;
    transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    position: relative;
    font-weight: 600;
    
}
.site-cta .col-md-10{
    position: relative;
    
}
.site-cta .btn{
    display: none;
}
/*-- Top Banner --*/
#top-banner{
    padding: 15px 0 0 0;
    background: #222222 url('../images/left-cross.png');
    min-height: 100px;
    color: #ffffff;
    
}
#top-banner .top-banner-text{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
    font-weight: 200;
}

/*-- Site Footer --*/
.site-footer{
    background: #222;
    border-top: 1px solid #2e2e2e;
    color: #e0e0e0;
}
.site-footer .col-md-6{
    padding: 20px 10px 20px 0;
}
.scroll-top{
    /*font-size: 26px;*/
    width: 30px;
    height: 30px;
    margin: 7px 5px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}
.scroll-top:hover{
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    border-color: #ff6600;
}

/*-- page --*/
.page-content{
    margin-top: 30px;
}
.page-title{
    background: #222222 url('../images/left-cross.png');
    margin-left: -15px;
    margin-right: -15px;
    font-size: 32px;
    color: #e0e0e0;
    padding: 30px 0;
}
.page .entry-content{
    
}
/*-- Blog --*/
.blogroll{
    margin-top: 20px;
}
.item-post{
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}
.item-post .post-title{
    font-size: 32px;
}
.item-post .post-thumb{
    padding: 15px;
    
}
.item-post .post-thumb img{
    width: 100%;
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 5px;
}
.single-title{
    
    
}
.single-title > div.row{
    padding-left: 30px; 
}
.wp-post-image{
    width: 200px;
    float: left;
    margin: 0 15px 15px 0;
    padding: 3px;
    border: 1px solid #e0e0e0;
}
/*-- sidebar --*/
.widget-area .search-field{
    width: 100%;
    padding-left: 5px;
}
.widget-title{
    margin-bottom: 0;
    font-weight: 600;
}
.widget-area ul{
    margin: 0;
}
.widget-area ul li{
    list-style-type: none;
    padding-left: 0;
    border-bottom: 1px solid #E6E6E6;
    
}
.widget-area ul li a{
    font-size: 16px;
    padding: 7px 0;
    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    display: block;
}
.widget-area ul li a:hover{
    
}
/*-- Responsive --*/
@media(min-width: 1060px){
    .row{
        width: 1060px;
    }
    
}
@media(min-width: 601px) and (max-width: 991px){
    #site-cta{
        margin-top: 0;
    }
    #site-cta .site-cta{
        margin-left: 30px;
        
    }
    .site-cta .col-md-10 > div{
        padding-left: 20px;
    }
    #top-banner .top-banner-text{
        font-size: 28px;
        line-height: 30px;
    }
}
@media(min-width: 401px) and (max-width: 600px){
    #site-cta{
        margin-top: 0;
    }    
    #site-cta .site-cta{
        margin-left: 30px;    
    }
    .site-cta .col-md-10 > div{
        padding-left: 20px;
    }
    .site-branding{
        margin-top: 90px;
    }
    #top-banner .top-banner-text{
        font-size: 22px;
        line-height: 24px;
    }
}
@media(max-width: 525px){
    #site-toolbar .row .social-bar,
    #site-toolbar .row .contact-bar{
        width: 100%;
        text-align: center;
    }

/*    .site-branding{
        margin-top: 90px;
    }   */
}
@media(min-width: 400px) and  (max-width: 526px){
    .site-footer{
        margin-bottom: 88px;
    }
}
@media(min-width: 527px) and (max-width: 600px){
     .site-footer{
        margin-bottom: 44px;
    }
}
@media(max-width: 400px){
    .site-branding{
        margin-top: 90px;
    }    
    #top-banner .top-banner-text{
        font-size: 22px;
        line-height: 24px;
    }    
    .the-slider h1{
        font-size: 20px;
    }
    .site-footer{
        margin-bottom: 88px;
    }
}
@media(max-width: 600px){
    .site-description{
        display: none;
    }
    .main-navigation li{
        float: none;
    }
    .main-navigation ul ul{
        display: block;
        float: none;
        position: initial;
        
    }
    .main-navigation ul ul a{
        width: 100%;
        padding-left: 30px;
    }
    .nav-menu > li a{
        background: #222;
        margin: 0;
        color: #fff;
        text-align: center;
    }
    .nav-menu > li.current_page_item a{
        color: #ff6600;
    }    
    #site-navigation .row > div.col-md-12{
        padding: 0;
    }
    #menu-main{
        margin-top: 5px;
    }
    #site-toolbar{
        bottom: 0;
    }
    .site-branding{
        margin-top: 0;
    }
   
}